cohete/matlab_data
cohete/modelo_Alumnos
cohete/.ipynb_checkpoints
cohete/Piedribella.ipynb
cohete/Planeador_all_cases_nw.ipynb
cohete/pruebas.ipynb
cohete/Pruebas_sindy.ipynb
cohete/Presentacion_cohete.ipynb
cohete/aproximacion_prueba2
cohete/aproximacion_prueba3
cohete/resumen_dia_28-7.odt
/asteroides
